:root{
    --maroon: #f93943;
    --white: #f5f3f4;
}

body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    background-color: var(--white);
}

#navBar {
    background-color: var(--maroon);
    margin: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#navTitle {
    text-align: center;
    color: var(--white);
}

/**/