:root{
    --blue: #14213d;
    --white: #f5f3f4;
    --whiter: #f7f6f6;
    --lightblue: #4361ee;
    --darkblue: #03045e;
}

body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    background-color: var(--white);
}

#navBar {
    background-color: var(--blue);
    margin: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    /**/
    position: fixed;
    top: 0;
    z-index: 999;
    /**/
}

#navTitle {
    text-align: center;
    color: var(--white);
}

/**/

#joinLeagueDiv {
    margin-top: 15%;
}

#leagueDiv {
    margin-top: 10%;
}

.formDiv {
    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: var(--whiter);
}

.title {
    color: var(--darkblue);
}

#loginTitleDiv, #joinDraftTitleDiv {
    margin-bottom: 1em;
}

.formInput {
    text-align: center;
}

button {
    background-color: var(--lightblue);
}

.league {
    padding-top: 1em;
    padding-bottom: 1em;
}

.indLeagueDiv {
    padding-right: 0.5em;
    padding-top: 0.5em;
}

#leftDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--whiter);
}